<div>
  <header
    class="col-12 p-2 d-flex flex-row justify-content-evenly"
    style="background-color: rgb(33, 4, 83); color: white"
  >
    <span style="font-size: 30px">Resultat recente des match: </span>
  </header>
  <section class="row d-flex flex-row justify-content-evenly gap-5 p-5">
    <div
      class="card col-3 d-flex flex-column align-items-start justify-content-evenly p-2 {{
        i % 2 == 0 ? 'd-block' : 'd-none'
      }}"
      *ngFor="let item of data; let i = index"
      style="height: 7rem"
    >
      <span
        class="p-2 col-12 d-flex flex-row justify-content-between"
        style="border-bottom: 1px solid gray"
        ><span>{{ item.equipe_nom }}</span> <span>{{ item.score }}</span></span
      >
      <span class="p-2 col-12 d-flex flex-row justify-content-between"
        ><span>{{ data[i + 1].equipe_nom }}</span>
        <span>{{ data[i + 1].score }}</span></span
      >
    </div>
  </section>
</div>
