<div class="card col-7 p-4">
  <div
    class="d-flex flex-column gap-2 justify-content-evenly align-items-center"
  >
    <span class="score">0 - 0</span>
    <span
      class="d-flex flex-column gap-2 justify-content-evenly align-items-center"
    >
      <span>{{
        minut.toString().padStart(2, "0") +
          ":" +
          second.toString().padStart(2, "0")
      }}</span>
      <span class="d-flex gap-1">
        <button
          type="button"
          class="btn btn-danger"
          *ngIf="isStart"
          (click)="makePause()"
        >
          <i class="bi bi-pause-fill"></i>
        </button>
        <button
          type="button"
          class="btn btn-success"
          *ngIf="!isStart"
          (click)="makeStart()"
        >
          <i class="bi bi-play-fill"></i>
        </button>
      </span>
    </span>
  </div>
  <div class="d-flex flex-row justify-content-evenly p-2 gap-2 col-12">
    <div class="equipe1 row p-2 gap-2 justify-content-evenly">
      <h4 class="col-12 text-center">Equipe 1:</h4>
      <button
        type="button"
        class="btn btn-secondary col-5"
        *ngFor="let item of [0, 1, 2, 3, 4]"
      >
        Joueur {{ item }}
      </button>
    </div>
    <div
      class="action d-flex flex-column justify-content-evenly p-2 gap-2 col-2"
    >
      <button
        type="button"
        class="btn btn-secondarybtn-primary"
        *ngFor="let item of action"
        (click)="setAction(item)"
      >
        {{ item.action_nom }}
      </button>
    </div>
    <div class="equipe1 row p-2 gap-2 justify-content-evenly">
      <h4 class="col-12 text-center">Equipe 2:</h4>
      <button
        type="button"
        class="btn btn-secondary col-5"
        *ngFor="let item of [0, 1, 2, 3, 4]"
      >
        Joueur {{ item }}
      </button>
    </div>
  </div>
</div>
